* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #000000, #b30000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

.title {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.title span {
    color: #e62b1e; /* TEDx red */
}

.subtitle {
    margin: 15px 0 40px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.countdown {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.launch-btn {
    padding: 15px 45px;
    font-size: 1.1rem;
    font-weight: 700;
    background: transparent;
    border: 2px solid #e62b1e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

    /* initially inactive */
    opacity: 0.6;
    pointer-events: none;
}

.launch-btn:hover {
    background: #e62b1e;
    color: black;
}
@keyframes redGlow {
    0% {
        text-shadow: 0 0 5px #e62b1e, 0 0 10px #e62b1e;
        box-shadow: 0 0 5px #e62b1e;
    }
    50% {
        text-shadow: 0 0 15px #e62b1e, 0 0 30px #e62b1e;
        box-shadow: 0 0 20px #e62b1e;
    }
    100% {
        text-shadow: 0 0 5px #e62b1e, 0 0 10px #e62b1e;
        box-shadow: 0 0 5px #e62b1e;
    }
}

/* Button glow */
.glow-btn {
    animation: redGlow 1.5s infinite;
}